.main-wrapper{
    display: flex;
   
    padding: 5%;
}

.card{
    opacity:0.8
}
.card-body{
    background-color:rgb(193, 193, 193);

   
}

h3{
    color: white; 
    opacity:1;
}
p{
    color: white; 
    opacity:1;
}
ul.list-group.mb-4{
    display: flex;
    justify-content: center;
}
.characterCard{
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 75%;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  opacity:0.8;

}

.lead{
    color: rgba(38, 37, 37, 0.831);
}
.display-3{
    color:  rgba(94, 1, 1, 0.831);
}

.CTA{
    color: rgb(97, 72, 25);
}

